div.amaruzen-brand{
	border: solid 1px rgb(109,174,255);
	border-radius: 6px;
	background: rgb(235,243,254);
	overflow: visible;
	margin: 8px -1px 0 1px;
	position : relative;
}
div.amaruzen-brand-title{
	background: rgb(192,219,242);
	padding: 0;
	margin: 0;
/* 	border-radius: 6px 6px 0 0; */
	font-size:small;
	display: table;
	width: 100%;
}
.amaruzen-no-store{
	padding:8px;
	font-size : small;
}

.amaruzen-brand-title-text{
	display: table-cell;
	vertical-align: middle;
	padding: 6px 6px;
}

div.amaruzen-brand-loading{
	display: table;
	width:100%;
	padding: 0;
	font-size:small;
}
img#amaruzen-loading-icon{
	padding-left: 8px;
	
}
a.amaruzen-detail-link{
	font-size:x-small;
	padding-left:8px;
}
div.amaruzen-store-area{
	padding:8px;
}

div.amaruzen-store-area-name{
	font-size : small;
	margin-bottom:4px;
}
div.amaruzen-store-area-items{
	margin-left:6px;
}

div.amaruzen-store{
	display:inline-block;
	padding:4px;
}

div.amaruzen-store-book-loc{
	display:none;
}
div.amaruzen-store-name{
	font-size : small;
	display:inline-block;
}
div.amaruzen-store-icon{
	display:inline-block;
	vertical-align: middle;
	padding-right:4px;
}

.amaruzen-store-areas{
	display: table-cell;
	margin:0;
	padding: 2px 6px;
	text-align : right;
}

div.amaruzen-overlay{
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100px;
	height: 100%;
	position: absolute;
	overflow: hidden;
	background: rgba(0, 0, 0, 0.85);
	cursor: pointer;
	border-radius: 6px;
}

div.amaruzen-overlay-inner{
	display: table;
	height:100%;
	width:100%;
}
div.amaruzen-overlay-box{
	display: table-cell;
	vertical-align:middle;
	color: white;
	font-size:small;
	padding: 10px 40px;
}
div.overlay-title{
	text-align : center;
	padding : 4px;
	font-weight : bold;
}

div.overlay-txt-small{
	text-align : right;
	font-size:x-small;
}
